@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>
    Thank you for post on facebook wall.
</h2>
<script type="text/javascript">
    $(function () {
        setTimeout(
  function () {
      window.close();
  }, 2000);
    });
</script>