@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <h1>Project Interview</h1>
</div>
<div class="row">
    <div class="col-md-5">
        <h2>Welcome to Project Interview</h2>
        <p>
            Project Interview is a simple application that will store books, blog entries, and news stories locally and allows you to post this items to your facebook timeline 
          </p>  
    </div>
 </div>